/* color  negro #161d20;
amarillo #fce130;
blanco #ffff; 
FONT POPPINS
break 641*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: black;
}

/* ARRANCA MAIN */
main {
    background-color: black;
}
.main-container{
    background-color: #242424;
    margin: 25px auto;
    font-size: 1.5em;
    font-weight: 400;    
    color:#e3ecfa;
    max-width: 700px;
    
}
.fantasy-frase{    
    font-size: 15px;
    font-weight: normal;
    margin: 10px 10px;
    text-align: center;
    padding: 10px;
}
.diferent-logins{
    background-color: #242424;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 2.5px solid grey;   
}
.facebook-inic{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 220px;
    font-size: 12px;
    font-weight: 400;
    margin: 15px auto 10px;
    border: 5px solid #3b5998 ;
    background-color: #3b5998 ;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.google-log{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 220px;
    font-size: 12px;
    font-weight: 400;
    margin: 15px auto 10px;
    border: 5px solid #de5246 ;
    background-color: #de5246 ;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}
.link{
    padding-right: 5px;
    text-decoration: none;
    color: #e3ecfa;
}

.fab {
    padding-right: 10px;
}
/* ARRANCAN LOS FORMULARIOS */
.main-forms-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    margin: 0 auto;
}
.main-forms-container div{
    margin: auto;
}
.body-format{
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 15px 15px 0;
    margin: 0 auto;
    margin-bottom: 0;
}
.body-format2{
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 15px 15px 0;
    margin: 0 auto;
    margin-bottom: 0;
    color: #fce130;
    text-align: center;
}
.body-format2 a{
    font-style: normal;
    color:#e3ecfa; 
}
.formularies{
    background-color: #161d20 ;
    color: grey;
    margin: 0 auto;
}
.main-forms-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    margin: auto;
}
.main-forms-container div{
    display:flex;
    flex-direction: column;
    
}
p.feedback{
    font-size: 12px;
    font-weight: 400;
    color: #fce130;
    margin: 5px auto;
    max-width: 250px;
}
.bdy-text{
    font-size: 10px;
    text-align: center;
    margin: 5px auto;
    max-width: 250px;
}

.form-format{
    height: 25px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    background-color: #e3ecfa;
    border: 1px solid #e3ecfa;
    color: black;
    margin: 10px auto;
    text-align: left;
}
.secondari-form-format{
    height: 25px;
    width: 100px;
    font-size: 16px;
    font-weight: 400;
    background-color: #e3ecfa;
    border: 1px solid #e3ecfa;
    color: black;
    margin: 10px auto;
    text-align: left;
}
.contenedor{
    display: flex;
    justify-content: flex-start;
    align-content:space-between;
    margin: 5px 10px 10px;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.466;
    color: black;
}


.create-button{ 
    display: block;
    text-align: center;
    width: 250px;
    max-width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin:  15px auto;
    background-color:#fce130 ;
    border-radius: 4px;

}
.end-frase{
    color:#e3ecfa;
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin: 0px auto 10px;
}
.errores li {
    list-style: none;
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}


@media (min-width: 641px) {
    .diferent-logins{
        flex-direction: row;
        justify-content: space-around;
        padding: 15px;
    }
    .main-forms-container{
        display: flex;
        
        justify-content: space-around;
        max-width: 500px;
    }
    .form-format{height: 30px;
        font-size: 18px;
        background-color: #e3ecfa;
        border: 2px solid #e3ecfa;
        margin: 15px 10px;
        text-align: left;
    }
    p.feedback{        
        margin: 5px 10px;
    }
}
