<footer class="main-footer">
    <img src="/images/Logo.jpg" class="logo-footer">
    <div class="footer-redes">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
    <div class="politicas">
      <a href="#">Politicas de privacidad</a>
      <a href="#">Politicas de cookies</a>
      <a href="#">Condiciones de uso</a>
    </div>
    <div class="disclaimer">
      <i class="far fa-copyright"></i>
      <p>Casa Digital. Todos los derechos reservados</p>
    </div>
</footer>  